## Predict Future Sales:
https://www.kaggle.com/c/competitive-data-science-predict-future-sales/data

Data fields

    ID - an Id that represents a (Shop, Item) tuple within the test set
    shop_id - unique identifier of a shop
    item_id - unique identifier of a product
    item_category_id - unique identifier of item category
    item_cnt_day - number of products sold. You are predicting a monthly amount of this measure
    item_price - current price of an item
    date - date in format dd/mm/yyyy
    date_block_num - a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,...
    item_name - name of item
    shop_name - name of shop
    item_category_name - name of item category

In [2]:
PATH = './all'

In [5]:
!ls {PATH}

item_categories.csv  sales_train.csv.gz  sample_submission.csv.gz  test.csv.gz
items.csv	     sales_train_v2.csv  shops.csv

In [4]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from IPython.display import display

from sklearn import metrics

In [7]:
df_raw = pd.read_csv(f'{PATH}/sales_train_v2.csv', low_memory=False, parse_dates=['date'])

In [9]:
def display_all(df):
    '''
    Display a maximum of 1000 rows and columns without truncation
    '''
    with pd.option_context("display.max_rows", 1000):
        with pd.option_context("display.max_columns", 1000):
            display(df)

In [22]:
display_all(df_raw.tail().transpose())

,2935844,2935845,2935846,2935847,2935848
date,2015-10-10 00:00:00,2015-09-10 00:00:00,2015-10-14 00:00:00,2015-10-22 00:00:00,2015-03-10 00:00:00
date_block_num,33,33,33,33,33
shop_id,25,25,25,25,25
item_id,7409,7460,7459,7440,7460
item_price,299,299,349,299,299
item_cnt_day,1,1,1,1,1

In [25]:
add_datepart(df_raw, 'date')
train_cats(df_raw)
df, y, nas = proc_df(df_raw, 'item_cnt_day')

In [26]:
m = RandomForestRegressor(n_jobs=-1)
m.fit(df, y)
m.score(df,y)

/home/orange/miniconda3/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.8650076011791209

In [30]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())
rmse(m.predict(df), y)

0.9621939582803626